
[Desktop Entry]
Encoding=UTF-8
Name=Link to http://4.bp.blogspot.com/-01fe4I7XvvA/T7qYHcp0ZcI/AAAAAAAAF0I/UgRKFnXM-WM/s1600/tipos-de-ventas.jpg
Type=Link
URL=http://4.bp.blogspot.com/-01fe4I7XvvA/T7qYHcp0ZcI/AAAAAAAAF0I/UgRKFnXM-WM/s1600/tipos-de-ventas.jpg
Icon=image-jpeg
Name[es_ES]=sale.jpg
