@charset "utf-8";
/* CSS Document */

body {
	width:850px;
	margin-left:100px;
	position:absolute;
	background:#CCC;
	}
header {
	text-align:center;
	background:#FFF;}

hgroup {
	text-decoration:none;
	height:200px;
	width:850px;
	text-align:center;
		}
hgroup li {
	list-style: none;
	height:250px;
	width:250px;
	float:left;
		}

#titulo {
	margin-top:50px;
	text-align:center;
	text-decoration:none;
	height:250px;
	width:250px;
	float:left;
		}
	#menu-top-nav {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 10px;
}
#logo {
	
	margin: 10;
    padding: 0;
	width:250px;
	height:250px;
	background:#00F;
	float:left;}
#titulo {
	width:600px;
	height:250px;
	float:left;
	}


nav {
	width:850px;	
	margin: 0;
    padding: 0;
	background:#CC9;
	position:absolute;}
	
nav ul {
	width:850px;
	height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
	color:#FFF;	}
	
nav ul li{
	list-style: none;
    float:left;
    height: 79px;
	text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
	
   

}

nav ul li:hover{
   
}

nav ul li a{
	display: block;
    padding: 0 50px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
	text-decoration:none;
	font-size:20px;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    color:#FFF;	}
	
nav ul li a:hover {
	background: transparent none;
}

nav ul li a:active {
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
	
article {
	margin-top:62px;
	height:auto;
	width:550px;
	float:left;
background:#0F6;}

	
aside {
	margin:0;
	width:300px;
	float:left;
	background:#FF0;}
footer {
	width:850px;
	float:left;
	background:#996;}